@media (max-width: 767px) {
    .myName {
        display: none;
    }

    #nav-bar a:link,
    a:visited {
        display: block;
        padding: 9px;
        text-align: left;
        border-left: none;
    }

    .vertical-border {
        border-left: 0;
        border-top: 2px solid #c7ac12;
        padding-top: 20px;
    }


    #footer .container {
        width: 100%;

    }

    .flex-goal,
    .flex-scopes,
    .flex-team,
    .flex-primary,
    .flex-timeLine {
        display: block;
    }

    .job-icon,
    .icon-team,
    .icon-primary {
        text-align: center;
    }

    .goal-content h4 {
        margin-left: 18px;
    }

    #primary,
    #scope {
        margin-bottom: 24px;
    }


    .primary-text {
        font-size: 16px;
    }
}